@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input {
        @apply outline-none;
    }

    ::-webkit-scrollbar {
        display: none;
    }
}


#app {
    height: 100%;
}